body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: 'Roboto';
}

#header{
    /* margin: -20 0 0 10; */
    margin: -20px 20px 0px 0px;
    background-color: black;
    color:#fff;
    height: 50px;
    width: 100%;
    
}

#titulo{
    padding-top: 10px;
    margin-left: 20px;
}

#camp1 {
    background-color: aqua;
    margin-top: 0px;
}

#camp2 {
    background-color: aqua;
}
 
#camp3{
    background-color: aqua;
}



#menu {
    width: 180px;
    list-style: none;
    
    width: 180px;
    border: 1px solid #7C7C7C;
    
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 180px;
}





